.boton {
    background-color: #1f3f09;

    background-image: linear-gradient(to bottom,  #89d45e, #25490d);

    border-radius: 10px;
    display: flex;
    align-items: center;
    box-shadow: 6px 5px 24px #666666;
    color: #fafafa;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;

    border: 0;
    width: 100px;
    height: 30px;
    line-height: 5px;
    transition-duration: 300ms;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
}

.boton:hover {
    background-color: #ccd48b;
    box-shadow: 0px 0px 6px 0px #ECF1C8;
    border-radius: 10px;
    color:  #141413;
    border: 0;
    width: 100px;
    cursor: pointer;
    transition-duration: 300ms;

    background:  #90a383;

  text-decoration: none;
}