.tarjeta {
    box-shadow: rgba(87, 86, 86, 0.8) 0px 18px 50px -10px;
    height: 320px;
    width: 300px;
    transition-duration: 300ms;
    margin: 20px;
    display: inline-block;
}

.tarjeta:hover {
    box-shadow: rgba(0, 0, 0, 0.658) 0px 19px 38px, rgba(51, 48, 48, 0.22) 0px 15px 12px;
    transition-duration: 300ms;
    cursor: pointer;
}


.tarjeta h1 {
    text-shadow: 2px 2px 2px rgba(195, 195, 195, 0.411);
    color: rgb(21, 87, 12);
    padding: 0px;
    margin: 0px;
    font-size: 22px;
    margin-top: 20px;
}

.tarjeta h3 {
    margin: 10px;
    color: #101070;
    font-size: 20px;
    padding: 0;
    margin-bottom: 35px;
}

.boton {
     background-color: #1f3f09;
/* 
    background-image: -webkit-linear-gradient(top, #89d45e, #25490d);
    background-image: -moz-linear-gradient(top,  #89d45e, #3c7e11);
    background-image: -ms-linear-gradient(top,  #89d45e, #3c7e11);
    background-image: -o-linear-gradient(top,  #89d45e, #25490d); */
    background-image: linear-gradient(to bottom,  #89d45e, #25490d);

    border-radius: 10px;
    /* text-shadow: 3px 2px 1px #9daef5; */
    box-shadow: 6px 5px 24px #666666;
    color: #fafafa;
    padding: 19px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;

/* 
    box-shadow: 0px 0px 6px 0px #ECF1C8;
    color: #ECF1C8; */
    border: 0;
    width: 100px;
    height: 30px;
    line-height: 10px;
    transition-duration: 300ms;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
}

.boton:hover {
    background-color: #ccd48b;
    box-shadow: 0px 0px 6px 0px #ECF1C8;
    border-radius: 10px;
    color:  #141413;
    border: 0;
    width: 100px;
    cursor: pointer;
    transition-duration: 300ms;

    background:  #90a383;
  /* background-image: -webkit-linear-gradient(top, #2079b0, #eb94d0);
  background-image: -moz-linear-gradient(top, #2079b0, #eb94d0);
  background-image: -ms-linear-gradient(top, #2079b0, #eb94d0);
  background-image: -o-linear-gradient(top, #2079b0, #eb94d0);
  background-image: linear-gradient(to bottom, #2079b0, #eb94d0); */
  text-decoration: none;
}