body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  position:relative;
  display: flex;
  padding-bottom: 3em;;
  background-image: url("./img/background-4.jpg");
  
  background-attachment: fixed;
 /* animation: slider 450s infinite linear;*/
 background-position: center center;
     /* El fonde no se repite */
     background-repeat: no-repeat;
     /* Fijamos la imagen a la ventana para que no supere el alto de la ventana */
     background-attachment: fixed;
     /* El fonde se re-escala automáticamente */
     background-size: cover;
     /* Color de fondo si la imagen no se encuentra o mientras se está cargando */
     Background-color: transparent;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes slider {
  to {
    background-position: 2048px 0;
  }
}
/* Background para ancho máximo de la pantalla física */
@media only screen and (max-device-width: 767px) {
  body {
       background-image: url("./img/background-4.jpg");
       color: #FFF;
   }
  }
  /* Background para ancho máximo del navegador */
  @media only screen and (max-width: 767px) {
  body {
       background-image: url("./img/background-4.jpg");
       color: #FFF;
   }
  }
  /* Dimensiones del div principal */
  #lorem {
       width: 90%;
       margin: auto;
       padding: 10px;
  }
  /* Color del Link */
  a {
       color: yellow;
       text-decoration: none;
  }
  /* Texto justificado del párrafo */
  p {
       text-align: justify;
  }
